@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0d1117;
    color: white;
}
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 10px; 
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.container {
    text-align: center;
}
.controls {
    margin-bottom: 20px;
}
.subdivision {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 160px;   
}
label {
    display: block;
    margin-top: 20px;
    color: #576270;
}
span {
    display: block;
    margin-top: 20px;
}
input[type="range"],
select {
    width: 100%;
    margin-top: 5px;
}
.adjust {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12171f;
    width: 32px; 
    height: 32px;
    font-size: 16px;
}
.adjust:hover {
    background-color: #12171f;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00d188;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    width: 160px; 
    text-align: center;
}
button:hover {
    background-color: #00E494;
}